.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    z-index: 10;
}

.homeLink {
    font-weight: 600;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    font-size: 1.1rem;
}

.homeLink:hover {
    opacity: 1;
}